extends layout

block content
  h1= title
  form
    input(type="text" placeholder="Type something here...")
    button(class='reset' type='button' style='margin-left: 10px;') Reset
  p
    span(id='output')
